body {
	background-color: #1d2333;
	color: #F7F0E8;
	font-family: Helvetica, Arial, sans-serif;
	scrollbar-width: thin
}

.container {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 50px;
	width: 75%;
	margin: auto;
}

.accent {
	color: #CC4400;
}

.card {
	background-color: #10131c;
	aspect-ratio: 1/1;
	border-radius: 50px;
	border-style: solid;
	border-color: #F7F0E8;
	padding: 10px;
	text-align: center;
	border-width: 3px;

	max-width: 400px;
    max-height: 400px;
}

.card:hover {
	box-shadow: 0px 0px 10px red;
}

label {
	font-size: 1.5em;
}

input[type=checkbox] {
	transform: scale(1.5);
	accent-color: #CC4400;
}

#distance {
	font-size: 3em;
	font-family: monospace;
}
